<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CrmPbx - Wifinetcom 2018 TM</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/login.css">

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>

<body id="LoginForm">
  <div class="container">
    <h1 class="form-heading">Pbx Monitor</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Login</h2>
          <p>Inserisci nome utente e password</p>
        </div>
        <form id="Login" action="/login" method="post">

          <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password"  placeholder="Password">
          </div>
          <!--div class="forgot">
            <a href="reset.html">Forgot password?</a>
          </div-->
          <button type="submit" class="btn btn-primary">Login</button>

        </form>
      </div>
      <p class="botto-text"> Copyright - WIFINETCOM SRL 2018</p>
    </div>
  </div>
  </div>


</body>
</html>