<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Crm Pbx Connector</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="static/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="static/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="static/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="static/css/main.css">


  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/moment.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/tempusdominus-bootstrap-4.min.js"></script>
  <!--script src="static/js/dataTables.bootstrap4.min.js"></script>-->
  <script src="static/js/jquery.dataTables.min.js"></script>
  <script src="static/js/dataTables.buttons.min.js"></script>
  <script src="static/js/buttons.flash.min.js"></script>
  <script src="static/js/jszip.min.js"></script>
  <script src="static/js/pdfmake.min.js"></script>
  <script src="static/js/vfs_fonts.js"></script>
  <script src="static/js/buttons.html5.min.js"></script>
  <script src="static/js/buttons.print.min.js"></script>


</head>

<body id="Main">
  <div class="container">
    <h1 class="form-heading">Pbx Monitor</h1>
    <form id="SearchCalls" action="/search_calls" method="post">
      <div class="form-group row">

        <div class="col-xs-2 start_date">
          <label for="start_date">Inizio</label>
          <div class="input-group date" id="start_date_div" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#start_date" id="start_date" name="start_date" />
            <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>

        <div class="col-xs-2 end_date">
          <label for="end_date">Fine</label>
          <div class="input-group date" id="end_date_div" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#end_date" id="end_date" name="end_date" />
            <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>

        <div class="col-xs-2 div_internal_phone_number">
          <label for="internal_phone_number">Interno</label>
          <select class="form-control" id="internal_phone_number" name="internal_phone_number">
            <option>no data from server</option>
          </select>
        </div>

        <div class="col-xs-2 div_external_phone_number">
          <label for="external_phone_number">Esterno</label>
          <select class="form-control" id="external_phone_number" name="external_phone_number">
            <option>no data from server</option>
          </select>
        </div>

        <div class="col-xs-2 div_customer_contact">
          <label for="customer_contact">Contatto cliente</label>
          <div class="dropdown">
            <input type="text" id="customer_contact" name="customer_contact" />
          </div>
        </div>

        <div class="col-xs-2 div_btn_search">
          <label for="trova"></label>
          <div class="dropdown">
            <button id="btn_search" type="button" class="btn btn-primary">Trova</button>
          </div>
        </div>
      </div>
    </form>

    <div id="calls_search_results" style="margin-top: 100px">
      <table id="calls_search_results_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th></th>
            <th>Orario</th>
            <th>Durata</th>
            <th>Chiamato</th>
            <th>Chiamante</th>
            <th>Tipo</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>Orario</th>
            <th>Durata</th>
            <th>Chiamato</th>
            <th>Chiamante</th>
            <th>Tipo</th>
            <th>Stato</th>
          </tr>
        </tfoot>
      </table>
    </div>


    <p class="botto-text"> Copyright - WIFINETCOM SRL 2018</p>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#start_date').datetimepicker();
      $('#end_date').datetimepicker();
      var table_calls = $('#calls_search_results_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "columns": [
          {
            "className": 'details-control',
            "orderable": false,
            "data": null,
            "defaultContent": ''
          },
          { "data": "begin" },
          { "data": "duration" },
          { "data": "called" },
          { "data": "caller" },
          { "data": "type" },
          { "data": "status" },
        ],
      });

      $('#calls_search_results_table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table_calls.row(tr);

        if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child(format_callflow(row.data())).show();
          tr.addClass('shown');
        }
      });

      $.get('/config/internal_phone_number_list', function (data) {
        console.log("Getting data for internal phone number.");
        $('#internal_phone_number').contents().remove();
        $('#internal_phone_number').append($('<option></option>'));
        for (var j = 0; j < data.length; j++) {
          var newOption = $('<option>' + data[j].username + '</option>');
          $('#internal_phone_number').append(newOption);
        }
      });

      $.get('/config/external_phone_number_list', function (data) {
        console.log("Getting data for external phone number.");
        $('#external_phone_number').contents().remove();
        $('#external_phone_number').append($('<option></option>'));
        for (var j = 0; j < data.length; j++) {
          var newOption = $('<option>' + data[j] + '</option>');
          $('#external_phone_number').append(newOption);
        }
      });
    });

    $("#btn_search").click(function () {
      var t = $('#calls_search_results_table').DataTable();
      t.clear();

      var myform = document.getElementById("SearchCalls");
      var fd = new FormData(myform);

      $.ajax({
        url: "/search_calls",
        data: fd,
        cache: false,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (result_query) {
          result_query.forEach(element => {

            //format date in uman redeable
            var d=new Date(element.begin);
            //console.log(element.begin);
            //element.begin=d.getDate()+'/'+(d.getMonth() + 1)+'/'+d.getFullYear() +"  "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();

            //Translate in italian type
            element.type=element.type.replace(/incoming/g, "ingresso");
            element.type=element.type.replace(/outgoing/g, "uscita");
            //Translate in italian status
            element.status=element.status.replace(/ANSWERED/g, "RISPOSTA");
            element.status=element.status.replace(/NO ANSWER/g, "NON RISPOSTA");
            element.status=element.status.replace(/BUSY/g, "OCCUPATO");
            
            t.row.add(element).draw("false");
          });
        }
      });
    });

    function format_callflow(data_row) {
      
      var enc = new TextDecoder("utf-8");
      var arrayBuffer = new Uint8Array(data_row.calldata.data).buffer;
      var call_data = enc.decode(arrayBuffer);
      var call_flow = JSON.parse(call_data).callflow;
      
      //Parse call flow
      console.log(call_flow.length)
      var str_flow = call_flow[0].dst + "(" + call_flow[0].stato + ")" + "> </br>";
      for (var i = 0; i < call_flow.length - 1; i++) {
        if ((call_flow[i].dst !== call_flow[i + 1].dst) ||
          (call_flow[i].stato !== call_flow[i + 1].stato))
          str_flow += ">" + call_flow[i + 1].dst + "(" + call_flow[i + 1].stato + ")" + "> </br>";
      }

      str_flow=str_flow.replace(/ANSWERED/g, "RISPOSTA");
      str_flow=str_flow.replace(/NO ANSWER/g, "NON RISPOSTA");
      str_flow=str_flow.replace(/BUSY/g, "OCCUPATO");

      // `d` is the original data object for the row
      return '<p>'+str_flow+'</p>';
    }


  </script>
</body>

</html>