<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Crm Pbx Connector</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="static/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="static/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="static/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="static/css/main.css">


  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/moment.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/tempusdominus-bootstrap-4.min.js"></script>
  <!--script src="static/js/dataTables.bootstrap4.min.js"></script>-->
  <script src="static/js/jquery.dataTables.min.js"></script>
  <script src="static/js/dataTables.buttons.min.js"></script>
  <script src="static/js/buttons.flash.min.js"></script>
  <script src="static/js/jszip.min.js"></script>
  <script src="static/js/pdfmake.min.js"></script>
  <script src="static/js/vfs_fonts.js"></script>
  <script src="static/js/buttons.html5.min.js"></script>
  <script src="static/js/buttons.print.min.js"></script>


</head>

<body id="Main">
  <div class="container">
    <h1 class="form-heading">Pbx Monitor</h1>
    <form id="Search" action="/search" method="post">
      <div class="form-group row">

        <div class="col-xs-2 start_date">
          <label for="start_date">Inizio</label>
          <div class="input-group date" id="start_date" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#start_date" id="start_date" name="start_date" />
            <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>

        <div class="col-xs-2 end_date">
          <label for="end_date">Fine</label>
          <div class="input-group date" id="end_date" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#end_date" id="end_date" name="end_date" />
            <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>

        <div class="col-xs-2 div_internal_phone_number">
          <label for="internal_phone_number">Interno</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" id="internal_phone_number" name="internal_phone_number">
              Interno
            </button>
            <div id="internal_phone_number_list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">no data from server</a>
            </div>
          </div>
        </div>

        <div class="col-xs-2 div_external_phone_number">
          <label for="external_phone_number">Esterno</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" id="extrenal_phone_number" name="external_phone_number">
              Interno
            </button>
            <div id="external_phone_number_list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">no data from server</a>
            </div>
          </div>
        </div>

        <div class="col-xs-2 div_customer_contact">
          <label for="customer_contact">Contatto cliente</label>
          <div class="dropdown">
            <input type="text" id="customer_contact" name="customer_contact" />
          </div>
        </div>

        <div class="col-xs-2 div_btn_search">
          <label for="trova"></label>
          <div class="dropdown">
            <button id="btn_search" type="submit" class="btn btn-primary">Trova</button>
          </div>
        </div>
      </div>
    </form>

    <div id="calls_search_results" style="margin-top: 100px">
      <table id="calls_search_results_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Orario</th>
            <th>Cliente</th>
            <th>Numero Esterno</th>
            <th>Stato</th>
            <th>Percorso</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
          <tr>
            <th>Orario</th>
            <th>Cliente</th>
            <th>Numero Esterno</th>
            <th>Stato</th>
            <th>Percorso</th>
          </tr>
        </tfoot>
      </table>
    </div>


    <p class="botto-text"> Copyright - WIFINETCOM SRL 2018</p>
  </div>

  <script type="text/javascript">
    $(function () {
      $('#start_date').datetimepicker();
      $('#end_date').datetimepicker();
      $('#calls_search_results_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });

      $.get('/config/internal_phone_number_list', function (data) {
        console.log("Getting data for internal phone number.");
        $('#internal_phone_number_list').contents().remove();
        for (var j = 0; j < data.length; j++) {
          var newOption = $('<a class="dropdown-item" href="#">' + data[j].username + '</a>');
          $('#internal_phone_number_list').append(newOption);
        }
      });

      $.get('/config/external_phone_number_list', function (data) {
        console.log("Getting data for external phone number.");
        $('#external_phone_number_list').contents().remove();
        for (var j = 0; j < data.length; j++) {
          var newOption = $('<a class="dropdown-item" href="#">' + data[j] + '</a>');
          $('#external_phone_number_list').append(newOption);
        }
      });
    });



  </script>
</body>

</html>